/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* reset css end */

/* fonts style */

/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/montserrat-v26-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* scada-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/scada-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fonts style end */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #000;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header styles start */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 42px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #2D2D2D;
  text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active {
  opacity: .75;
}
.header__contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}
.header__contact-phone {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2D2D2D;
  padding: 0 18px 0 24px;
  background-color: transparent;
  background: url(/img/svg/phone-ico.svg) no-repeat left center,
              url(/img/svg/header-arrow.svg) no-repeat right center;
  background-size: 14px;
}
.header__contact-info {
  padding-right: 18px;
}
.header__contact-link {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 18px;
  color: #2D2D2D;
  text-decoration: none;
  border-bottom: 1px dashed;
}
.header__contact-link:hover, .header__contact-link:focus, .header__contact-link:active {
  opacity: .75;
}

/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 100vh;
  background: url(/img/intro.jpg) no-repeat center;
  background-size: cover;
  padding-top: 284px;
}

.intro__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #3E3E3D;
  text-transform: uppercase;
  max-width: 448px;
}

/* Intro styles end */

/* Services styles start */

.services {
  padding: 99px 0 219px 0;
}
.services__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
.service {
  margin-bottom: 100px;
}
.service:last-child {
  margin-bottom: 0;
}
.services__wrapper-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.services__wrapper-right {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row-reverse;
  align-items: center;
}
.service__img-left {
  margin-right: 141px;
}
.service__img-right {
  margin-left: 179px;
}
.service__img-right-last {
  margin-left: 74px;
}
.service__info {
  padding: 75px 0 105px 0;
  max-width: 575px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.service__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.service__description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}
.service__more {
  padding: 11px 26px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  transition: .3s ease;
  border-radius: 5px;
  border: 1px solid #DC911B;
  position: absolute;
  bottom: 0;
  right: 0;
}
.service__more:hover {
  background-color: #DC911B;
  border: none;
  color: #fff;
}

/* Services styles end */

/* Reviews styles start */

.reviews {
  padding: 130px 0 87px;
  background-color: #3E3E3D;
}
.reviews__wrapper {
  max-width: 1354px;
  margin: 0 auto;
  position: relative;
}
.reviews__img {
  width: 578px;
  height: 534px;
  position: absolute;
  top: -30px;
  right: 0;
}
.reviews__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 106px;
  padding-left: 223px;
}
.reviews__cards {
  max-width: 820px;
  padding-bottom: 84px;
  position: relative;
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
}
.reviews__item {
  margin-right: 47px;
}
.reviews__item:last-child {
  margin-right: 0;
}
.reviews__switch {
  max-width: 820px;
  position: absolute;
  bottom: 0;
  left: 46%;
}
.reviews__switch-btn {
  width: 34px;
  height: 34px;
  border: none;
}
.reviews__switch-btn_left {
  background: url(/img/svg/ancor-left.svg) #C4C4C4 no-repeat center center;
  transition: .3s ease-in-out;
}
.reviews__switch-btn_left:hover {
  background: url(/img/svg/ancor-left.svg) #DC911B no-repeat center center;
}
.reviews__switch-btn_right {
  background: url(/img/svg/ancor-right.svg) #C4C4C4 no-repeat center center;
  transition: .3s ease-in-out;
}
.reviews__switch-btn_right:hover {
  background: url(/img/svg/ancor-right.svg) #DC911B no-repeat center center;
}
.reviews__more {
  max-width: 142px;
  margin: -17px auto;
}
.reviews__more-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: .2s ease-in-out;
}
.reviews__more-link:hover, .reviews__more-link:focus, .reviews__more-link:active {
  opacity: .75;
}

/* Reviews styles end */

/* Projects styles start */

.projects {
  padding: 77px 0 88px 0;
}
.projects__wrapper {
  max-width: 1092px;
  margin: 0 auto;
}
.projects__title {
  margin-bottom: 98px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
}
.projects__card {
  margin-bottom: 106px;
}
.projects__card_bg-1 {
  background: url(/img/projects-1.jpg) no-repeat center center;
}
.projects__card_bg-2 {
  margin-bottom: 92px;
  background: url(/img/projects-2.jpg) no-repeat center center;
}
.projects__card-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 146px;
}
.projects__card-item_right {
  max-width: 228px;
  position: relative;
}
.projects__card-title {
  margin-bottom: 89px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
}
.projects__card-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #6F6F6E;
}
.projects__card-desc {
  margin-bottom: 47px;
  font-family: 'Roboto', sans-serif;
  font-size: 16x;
  line-height: 150%;
  color: #000;
}
.projects__card-btn {
  width: 42px;
  height: 42px;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(/img/svg/ancor-right.svg) #C4C4C4 no-repeat center center;
  transition: .3s ease-in-out;
}
.projects__card-btn:hover {
  background: url(/img/svg/ancor-right.svg) #DC911B no-repeat center center;
}
.projects__more {
  position: relative;
}
.projects__more-link {
  padding-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  background: url(/img/svg/ancor-right-orange.svg) no-repeat right center;
}
.projects__more-link:hover {
  opacity: .65;
}

/* Projects styles end */

/* News styles start */

.news {
  padding-top: 118px;
  background: linear-gradient(90deg, #EDEEEF 50%, transparent 50%);
}
.news__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news__card {
  max-width: 228px;
  max-height: 350px;
}
.news__title {
  margin-bottom: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
}
.news__pic {
  overflow: hidden;
}
.news__card-subtitle {
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
}
.news__card-date {
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #6F6F6E;
}
.news__card-description {
  margin-bottom: 23px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}
.news__card-btn {
  margin-bottom: 53px;
  width: 42px;
  height: 42px;
  border: none;
  background: url(/img/svg/ancor-right.svg) #C4C4C4 no-repeat center center;
  transition: .3s ease-in-out;
}
.news__card-btn:hover {
  background: url(/img/svg/ancor-right.svg) #DC911B no-repeat center center;
}
.news__card-all {
  position: relative;
}
.news__card-link {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
.news__card-link:hover, .news__card-link:focus, .news__card-link:active {
  opacity: .65;
}

/* News styles end */

/* Questions styles start */

.questions {
  margin-bottom: 163px;
  padding-top: 143px;
  background: url(/img/svg/questions-wave-bg.svg) no-repeat 0 143px;
}
.questions__wrapper {
  max-width: 745px;
  margin: 0 auto;
  position: relative;
}
.questions__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.questions__content-main {
  max-height: 197px;
  padding: 28px 136px 62px 143px;
  background-color: #FFE0B0;
  position: absolute;
  top: 81px;
  left: 81px;
}
.questions__title {
  margin-bottom: 11px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.questions__description {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #000;
  text-align: center;
}
.questions__form {
  max-width: 340px;
}
.questions__form-wrap {
  position: relative;
}
.questions__form-info {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
.questions__form-field {
  width: 142px;
  margin-right: 54px;
  padding-left: 10px;
  padding-bottom: 6px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #DC911B;
  font-family: 'Scada', sans-serif;
  font-size: 12px;
  line-height: 120%;
  color: #3E3E3D;
}
.questions__form-field:last-child {
  margin-right: 0;
}
.questions__form-btn {
  margin-top: 19px;
  padding: 11px 26px;
  position: absolute;
  top: 42px;
  left: 90px;
  background-color: transparent;
  border: 1px solid #DC911B;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #000;
  transition: .3s ease-in-out;
}
.questions__form-btn:hover {
  background-color: #DC911B;
  color: #fff;
}
.questions__pic-woman {
  z-index: 2;
}

/* Questions styles end */

/* Articles styles start */

.articles {
  padding-bottom: 112px;
}
.articles__wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.articles__title {
  margin-bottom: 90px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
}
.articles__content {
  padding-left: 30px;
}
.article__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article__item{
  max-width: 245px;
}
.article__item-title {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000;
}
.article__item-date {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #C6C6C6;
}
.article__item-desc {
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  color: #000;
}
.articles__more {
  position: relative;
}
.articles__more-link {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s ease-in-out;
}
.articles__more-link:hover, .articles__more-link:focus, .articles__more-link:active {
  opacity: .65;
}

/* Articles styles end */

/* Certificates styles start */

.certificates {
  padding: 81px 0 80px;
  background-color: #3E3E3D;
}
.certificates__wrapper {
  max-width: 1390px;
  margin: 0 auto;
  position: relative;
}
.certificates__img {
  width: 484px;
  height: 496x;
  position: absolute;
  top: 35px;
  right: 0;
}
.certificates__title {
  margin-bottom: 106px;
  padding-left: 285px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
}
.certificates__cards {
  max-width: 820px;
  padding-bottom: 84px;
  position: relative;
}
.certificates__list {
  display: flex;
  flex-wrap: wrap;
}
.certificates__item {
  margin-right: 47px;
}
.certificates__item:last-child {
  margin-right: 0;
}
.certificates__switch {
  max-width: 820px;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.certificates__switch-btn {
  width: 34px;
  height: 34px;
  border: none;
}
.certificates__switch-btn_left {
  background: url(/img/svg/ancor-left.svg) #C4C4C4 no-repeat center center;
  transition: .3s ease-in-out;
}
.certificates__switch-btn_left:hover {
  background: url(/img/svg/ancor-left.svg) #DC911B no-repeat center center;
}
.certificates__switch-btn_right {
  background: url(/img/svg/ancor-right.svg) #C4C4C4 no-repeat center center;
  transition: .3s ease-in-out;
}
.certificates__switch-btn_right:hover {
  background: url(/img/svg/ancor-right.svg) #DC911B no-repeat center center;
}
.certificates__more {
  max-width: 142px;
  margin: -20px auto;
}
.certificates__more-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: .2s ease-in-out;
}
.certificates__more-link:hover, .certificates__more-link:focus, .certificates__more-link:active {
  opacity: .75;
}

/* Certificates styles end */

/* Clients styles start */

.clients{
  padding: 57px 0 93px;
}
.clients__title {
  margin-bottom: 60px;
  padding-left: 207px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000;
  text-transform: uppercase;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
}
.clients__item {
  max-width: 300px;
  padding: 60px 40px;
  border: 1px solid #F2F2F2;
}

/* Clients styles end */

/* Footer styles start */

.footer {
  padding: 30px 0 52px;
  background-color: #3E3E3D;
}
.footer__nav {
  padding-bottom: 55px;
  border-bottom: 1px solid #777E89;
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item__title {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #fff;
}
.item__menu {
  margin-bottom: 5px;
  margin-right: 185px;
}
.item__menu:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.item__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 27px;
  color: #777E89;
  text-decoration: none;
}
.footer__item {
  margin-right: 184px;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__item_right {
  width: 420px;
}
.footer__form{
  position: relative;
  margin-bottom: 30px;
}
.footer__search {
  width: 100%;
  padding: 12px 0 12px 18px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #DADADA;
}
.footer__search::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #DADADA;
}
.footer__form-btn {
  position: absolute;
  top: 0;
  right: 0px;
  width: 43px;
  height: 43px;
  border: none;
  background: transparent;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  background: url(/img/svg/footer-search.svg) no-repeat center right;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__links-column {
  width: 175px;
  margin-right: 70px;
  margin-bottom: 15px;
  transition: .2s ease-in-out;
}
.footer__links-column:hover {
  opacity: .65;
}
.footer__links-column:nth-child(2n) {
  margin-right: 0;
}
.footer__mail {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.footer__tel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
}
.footer__address {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
.footer__btn-required {
  padding: 12px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #FD9913;
}
.footer__desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 55px;
}
.footer__copyright {
  margin-right: 290px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #777E89;
}

/* Footer styles end */
